<div class="row">
	<div data-ng-show="userPresent()">
		<button type='button' class='btn btn-link btn-md' data-ng-model='username' >Korisnik:{{ username }}</button>
		<br><button type='button' class='btn btn-link btn-md' data-ng-click="logOut()" >Log out</a>
	</div>
	<div data-ng-show="!userPresent()">
		<a href='index.php#!/login' class='btn btn-link btn-md'>Prijava</a>
		<br><a href='index.php#!/register' class='btn btn-link btn-md' >Registracija</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12 jumbotron" style="background-color:paleturquoise">
		<h2>Home</h2>
		
		<p>MetHotels je web aplikacija koja je aplikacija koja omogućava rezervaciju soba.</p>

	</div>

	<div class="col-lg-3 col-md-6 col-xs-12 jumbotron" style="background-color:aliceblue">

	<h2>Rezervacije</h2>
		
		<p>Rezervisite vasu sobu online putem nase aplikacije.</p>
		<b>

	</div>



	<div class="col-lg-3 col-md-6 col-xs-12 jumbotron" style="background-color:antiquewhite">

		<h2>Galerija</h2>
		
		<p>Pogledajte slike hotela i njegove okoline.</p>
		<b>

	</div>

	<div class="col-lg-3 col-md-6 col-xs-12 jumbotron" style="background-color:lightsteelblue">

		<h2>O nama</h2>
		
		<p>MetHotels je web aplikacija koja je aplikacija koja omogućava rezervaciju soba..</p>


	</div>
</div>